# Ignore Gradle project-specific cache directory
.gradle/

# Ignore build output directory
build/
bin/

# Ignore VSCode project files
.project
.classpath
.settings/

# Ignore cscope, tags and gtags databases
GPATH
GRTAGS
GTAGS
cscope.out
tags

# Ignore Idea project files
.idea/
jin.iml
